* {
  font-family: Arial, Helvetica, sans-serif;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
body {
  background-color: black;
}
.imagen {
  width: 100%;
  height: auto;
  opacity: 0.3;
}
.contenedor {
  position: relative;
  display: inline-block;
  text-align: center;
}
.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
  color: #e9e9e9;
}
.subtittle {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: #e9e9e9;
}
div.gallery {
  margin: 50px;
  float: left;
  width: 400px;
  margin-left: 170px;
}
div.services {
  margin-top: 40px;
  float: right;
  width: 320px;
  margin-right: 40px;
  margin-left: 40px;
}
div.gallery:hover {
  border: 1px solid #777;
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  overflow: hidden;
}

div.gallery img {
  width: 100%;
  height: auto;
}
div.services img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
  color: white;
}
div.text {
  padding: 12px;
  text-align: center;
  color: white;
}
